<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách dịch vụ</title>
</head>
<body>
    <h1>Danh sách dịch vụ</h1>
    <table>
        <thead>
            <tr>
                <th>Mã dịch vụ</th>
                <th>Nội dung</th>
                <th>Số lượng</th>
                <th>Giá dịch vụ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dichvu : ${dichvus}" th:if="${dichvu != null}">
                <td th:text="${dichvu.madv}"></td>
                <td th:text="${dichvu.noidung}"></td>
                <td th:text="${dichvu.soluong}"></td>
                <td th:text="${dichvu.giadv}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
